
@import '../../styles/colors.scss';

.shelfContainer {
    max-width: 17rem;
    height: 27rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover{
        background-color: $gray-light;

        .buyButton {
            opacity: 1;
            visibility: visible;
        }
    }

    .productImageContainer {
        position: relative;
        width: 100%;

        .discountFlag {
            background-image: url('../../assets/discount-flag.svg');
            background-repeat: no-repeat;
            background-position: center;
    
            width: 5rem;
            height: 5rem;
    
            display: flex;
            position: absolute;
            right: 0;
            top: 0;
    
            z-index: 99;
        }

    }


    .productInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        padding: 1rem;

        .productRating {
            display: flex;
        }
    }
    
    .productTitle {
        text-transform: uppercase;
    }

    .productListPrice {
        text-decoration: line-through;
    }
    
    .buyButton {
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;

        max-width: 12rem;

        background-color: $black;

        border: 0;
        border-radius: 0.3rem;

        padding: 0.5rem 3rem;

        margin-bottom: 1rem;

        color: $white;
        text-transform: uppercase;

        cursor: pointer;
    }

    @media screen and (max-width: 900px){
        height: 20rem;

        .productInfo {
            padding: 0;
        }

        .buyButton {
            opacity: 1;
            visibility: visible;

            margin: 0;
            max-width: 10rem;
            padding: 0.5rem 2rem;
        }
    }
}